.r-cart__product_container {
  display: flex;
  justify-content: space-between;
}
.r-cart__qty {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  max-width: 80px;
}
.r-cart__qty_control {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-cart__qty_control svg {
  width: 14px;
  height: 14px;
}
.r-cart__product_info {
  width: 80%;
}
